[data]
    email = "stanford.githimu@court.go.ke"
    name = "ngarana"

[edit]
    command = "nvim" 

[git]
    autoCommit = true
    autoPush = true

[diff]
    exclude = ["scripts"]
    pager = "delta"

[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
