window#osd {
  padding: 0;
  margin: 0;
  min-height: 0;
  min-width: 0;
  border-radius: 8px;
  border: 1px solid #ebdbb2;
  background: #ebdbb2;
  color: #282828;
}

#container {
    margin: 0;
    padding: 0;
    min-width: 0;
}

image {
    color: #282828;
    background: #ebdbb2;
    padding: 9px 0 9px 11px;
    margin: 0;
}

label, progressbar {
    min-height: 52px;
    min-width: 193px;
    background: #282828;
    color: #ebdbb2;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

progressbar:disabled,
image:disabled {
    opacity: 1;
}

progressbar:disabled progress {
    background: #a89984;
}

progressbar {
    min-height: 52px;
    min-width: 150px;
    border-radius: 0;
    background: #282828;
    border: none;
    margin: 0;
    padding: 0;
}
trough {
    min-height: 52px;
    border-radius: 0;
    border: none;
    background: #282828;
    margin: 0;
    padding: 0;
}

progress {
    min-height: 52px;
    border-radius: 0;
    border: none;
    background: #89b482;
    margin: 0;
    padding: 0;
}
